@{
    ViewBag.Title = "Reservations";
}

<h2>Index</h2>


<p>
    <button type="button" onclick="location.href='@Url.Action("Create","Reservations")'">New Rental</button>
</p>
<p>
    <button type="button" onclick="location.href='@Url.Action("List","Reservations")'">List Rentals and do updates</button>
</p>


