@{
    ViewBag.Title = "Customers";
}

<h2>Index</h2>

<p>
    <button type="button" onclick="location.href='@Url.Action("Create","Customers")'">New Client</button>
</p>
<p>
    <button type="button" onclick="location.href='@Url.Action("List","Customers")'">List Clients and do updates</button>
</p>
