@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RentC</h1>
    <p class="lead">RentC is one of the leading car rental organizations, for all of your car rental needs.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reservations</h2>
        <p>
            Register, update, view and delete rental entries.
        </p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Index","Reservations")'">Reservations &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clients</h2>
        <p>Register, update, view and delete client entries.</p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Index","Customers")'">Clients &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cars</h2>
        <p>View cars.</p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Index","Cars")'">Learn more &raquo;</a></p>
    </div>
</div>